/* Configurações Básicas */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Fundo cinza claro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #4a4e69; /* Cor de fundo escura para o header */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.gallery-grid {
  display: grid;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h";
  gap: 1rem;
}

.place-card {
  background: #e0e0e8;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .place-card img:hover {
    filter: brightness(0.8);
    transform: scale(1.05);
  }
}

@media (min-width: 641px) {
  .gallery-grid {
    grid-template-areas:
      "a b"
      "c d"
      "e f"
      "g h";
  }
}

@media (min-width: 1025px) {
  .gallery-grid {
    grid-template-areas:
      "a b c d"
      "e f g h";
  }
}


footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}