@media only screen and (min-width: 38rem){
    
    header, main, nav, footer {
        max-width: 980px;
        margin: 0 auto;
    }
    header {
        grid-template-columns: 24px auto;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        display: block;
    }
    .navigation ul {
        display: flex;
        
    }
}

/* =======================fOOTER============================*/
footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr; 
  background-color: var(--color-sky);
  color: #fff;
  padding: 10px;
  text-align: center;
  height: auto;
  align-items: center;
  gap: 20px; 
}

.social {
  grid-column: 2; 
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: -200px;
}

.right-content {
  grid-column: 1;
  text-align: right;
}

.left-content {
  grid-column: 3;
  text-align: left;
}